// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright 2014-2022 Toradex
 * Copyright 2012 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 */

/dts-v1/;

#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include "imx6dl.dtsi"
#include "imx6qdl-colibri.dtsi"

/ {
	model = "Toradex Colibri iMX6DL/S on Jacto's Omni500 board";
	compatible = "jacto,imx6dl-omni500", "toradex,colibri_imx6dl",
		     "fsl,imx6dl";

	aliases {
		mmc0 = &usdhc3;
		mmc1 = &usdhc1;
		rtc0 = &rtc_i2c;
	};

	chosen {
		stdout-path = &uart1;
	};

	adcmux: mux-controller {
		compatible = "gpio-mux";
		#mux-control-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_adcmux>;
		mux-gpios = <&gpio2 10 GPIO_ACTIVE_HIGH>,	/* MUX_CH0 */
			    <&gpio1 9 GPIO_ACTIVE_HIGH>;	/* MUX_CH1 */
	};

	adc-mux {
		compatible = "io-channel-mux";
		io-channels = <&stmpe_adc 0>;
		io-channel-names = "parent";
		mux-controls = <&adcmux>;
		channels = "chan0", "chan1", "chan2", "chan3";
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_led>;

		led1 {
			label = "status";
			gpios = <&gpio6 14 GPIO_ACTIVE_HIGH>;
		};
	};

	usdhc1_pwrseq: usdhc1_pwrseq {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_wifi_reset>;
		reset-gpios = <&gpio6 16 GPIO_ACTIVE_HIGH>;	/* WL_EN */
	};

	panel_dpi: panel-dpi {
		compatible = "aison,z050wv03j";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_lcd_enable>;
		enable-gpios = <&gpio3 28 GPIO_ACTIVE_HIGH>;
		backlight = <&backlight>;
		status = "okay";

		port {
			lcd_panel_in: endpoint {
				remote-endpoint = <&lcd_display_out>;
			};
		};
	};
};

&backlight {
	default-brightness-level = <1>;
	/* Maximum PWM dimming frequency for the TPS61165 is 100 kHz */
	pwms = <&pwm3 0 100000 PWM_POLARITY_INVERTED>;
	status = "okay";
};

&lcd_display {
	status = "okay";
};

&can1 {
	status = "okay";
};

&can2 {
	status = "okay";
};

&fec {
	status = "disabled";
};

&i2c3 {
	status = "okay";

        rtc_i2c: rtc@32 {
		compatible = "epson,rx8804";
		reg = <0x32>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_rtc>;
		interrupt-parent = <&gpio2>;
		interrupts = <11 IRQ_TYPE_LEVEL_HIGH>;
	};
};

&pwm3 {
	status = "okay";
};

&reg_usb_host_vbus {
	status = "okay";
};

&uart1 {
	fsl,dte-mode;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1_dte>;
	/delete-property/uart-has-rtscts;
	status = "okay";
};

&uart2 {
	status = "okay";
};

&uart3 {
	status = "okay";
};

&usbh1 {
	vbus-supply = <&reg_usb_host_vbus>;
	status = "okay";
};

&usbotg {
	status = "okay";
};

&usdhc1 {
	bus-width = <4>;
	no-1-8-v;
	non-removable;
	pinctrl-names = "default", "state_100mhz", "state_200mhz", "sleep";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	pinctrl-3 = <&pinctrl_usdhc1_sleep>;
	mmc-pwrseq = <&usdhc1_pwrseq>;
	vmmc-supply = <&reg_module_3v3>;
	vqmmc-supply = <&vgen3_reg>;
	status = "okay";
};

&vpu {
	status = "disabled";
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <
		&pinctrl_usbh_oc_1 &pinctrl_usbc_id_1
	>;

	pinctrl_adcmux: adcmuxgrp {
		fsl,pins = <
			MX6QDL_PAD_SD4_DAT2__GPIO2_IO10		0x1b0b0
			MX6QDL_PAD_GPIO_9__GPIO1_IO09		0x1b0b0
		>;
	};

	pinctrl_gpio_led: gpioledgrp {
		fsl,pins = <
			MX6QDL_PAD_NANDF_CS1__GPIO6_IO14	0x1b0b0
		>;
	};
	
	pinctrl_lcd_enable: lcdenablegrp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D28__GPIO3_IO28		0x1b0b0
		>;
	};

	pinctrl_rtc: rtcgrp {
		fsl,pins = <
		        MX6QDL_PAD_SD4_DAT3__GPIO2_IO11		0x1b0b0
	        >;
	};

	pinctrl_wifi_reset: wifiresetgrp {
		fsl,pins = <
		        MX6QDL_PAD_NANDF_CS3__GPIO6_IO16	0x1b0b0
	        >;
	};
};
