// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/*
 * Copyright (C) 2018 O.S. Systems Software LTDA.
 */

/dts-v1/;

#include "rv1108-elgin.dtsi"

/ {
	model = "Elgin RV1108 R2 board";
	compatible = "elgin,rv1108-r2", "rockchip,rv1108";

};

&gmac {
	clock_in_out = "output";
	pinctrl-names = "default";
	pinctrl-0 = <&rmii_pins>;
	snps,reset-gpio = <&gpio1 RK_PC1 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 20000 20000>;
	status = "okay";
};

&spi {
	pinctrl-names = "default";
	pinctrl-0 = <&spim1_clk &spim1_cs0 &spim1_tx &spim1_rx>;
	/delete-property/ dmas;
	/delete-property/ dma-names;
	status = "okay";

	tpm@0 {
		compatible = "infineon,slb9670", "tcg,tpm_tis-spi";
		reg = <0>;
		spi-max-frequency = <10000000>;
	};
};

&pinctrl {
	gmac {
		rmii_pins_r2: rmii-pins-r2 {
			rockchip,pins =	<1 RK_PC3 2 &pcfg_pull_none>,
					<1 RK_PC4 2 &pcfg_pull_none>,
					<1 RK_PB2 3 &pcfg_pull_none_drv_12ma>,
					<1 RK_PB3 3 &pcfg_pull_none_drv_12ma>,
					<1 RK_PB4 3 &pcfg_pull_none_drv_12ma>,
					<1 RK_PB5 3 &pcfg_pull_none>,
					<1 RK_PB6 3 &pcfg_pull_none>,
					<1 RK_PB7 3 &pcfg_pull_none>,
					<1 RK_PC2 3 &pcfg_pull_none>;
		};
	};
};
